<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="navbar">
  <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="#"><i class="fa fa-fw fa-plus-circle"></i> New Notice</a>
  <a href="#"><i class="fa fa-fw fa-cog"></i> Options</a>
  <a href="#"><i class="fa fa-fw fa-user-plus"></i> Sign Up</a>
</div>

<!-- <h1><span id="bluish">VIRTUAL<br></span><span id="orangish">NOTICE</span><span id="greenish">BOARD</span></h1>
<br><hr class="styled-hr"><br> -->


<div class="ul">
  <!-- <a class="notice-modal" data-toggle="modal" data-target="#contentModal" href="#"><i class="fa fa-fw fa-chevron-circle-down"></i></a> -->
    <div class="li" *ngFor='let notice of notices;  let i = index'>
        <a data-toggle="modal" data-target="#myModal">
          <h2>{{notice.title}}</h2>
          <h6><em>{{notice.type}}</em></h6><hr>
          <h6><small>{{notice.dateOfCreation}}</small></h6>
        </a>
    </div>
</div>




<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">notice.title</h5>
        <h6 class="modal-type">notice.type</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>notice.content</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Comment</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>